body{
background-color:rgb(255, 255, 255);
}
h1{
color: rgb(0, 0, 0);
text-shadow: 50px;
font-family: monospace;
font-size: 60px;
position:sticky
}
p{
    color: rgb(75, 72, 72);
}
#box1{
    position: relative;
    top:750px;
    height: 100px;
    width: 1000px;
}
#label1{
    color: rgb(37, 116, 89);
    font-family: monospace;
    font-size: 20px;
}

